<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>

	<link rel="stylesheet" type="text/css" href="/static/prism.css" />
	<link rel="stylesheet" type="text/css" href="/static/praatStyle.css" />
	<link rel="stylesheet" type="text/css" href="/static/headerChunk.css" />

	<script type="text/javascript" src="/static/prism.js"></script>
</head>

<body>

<div id="headline">
	<h1 id="headerH1">Praat scripting tutorial</h1>
	<div id="menuButton">
		<img id= "menuImage" src="/images/threeBarMenuButton.svg">
	</div>

	<div id="navDiv" style="visibility:hidden">
        <nav>
            {% for page in pageData %}
                <a href="{{ page.name }}">{{ page.humanName }}</a>
            {% endfor %}
        </nav>
	</div>

</div>
