{% include "templates/_header.njk" %}

<div id="mainContent">

<h1>Email me</h1>

<p>Please tell me if this site sucks, if it is good, if something's not clear, or if there are any mistakes.</p>

<p>You can email me directly, but the internet is a shady place, and people make scripts that will troll websites for emails that they can spam. I haven't yet set up a contact form for this site. For now I'd appreciate your patience in solving this robot-resistant riddle:</p>

<p>My electronic place of residence is (there are no uppercase letters): </p>

<ul>
	<li>The first name of the actor who played Harry Potter, not shortened</li>
	<li>A period</li>
	<li>My last name, which is composed of the first letter of these five words (so it has five letters): rick i got good shoes</li>
	<li>The number one</li>
	<li>That funny curvy "a" that goes in emails</li>
	<li>Google's email service</li>
</ul>

{% include "templates/_footer.njk" %}