{% include "templates/_header.njk" %}

<div id="mainContent">

<h1>Downloads</h1>

<p>Here you can download a zip file containing some data files that are referenced throught the tutorial. I recommend unizipping the folder it contains ("praatTutorial") and putting it in your "Documents" folder so all examples will work, but you do you.</p>

<p>Trust no one, even though I definitely didn't put any viruses in this file, as with any file on the internet, give it a scan with your virus software just to make sure I haven't been hacked.</p>

<div id="linkDiv">
	<p><a href="TODO">Click to download Zip file</a></p>
</div>

{% include "templates/_footer.njk" %}
