{% include "templates/_header.njk" %}

<div id="mainContent">

<h1>The End. For now...</h1>

<p>Please send an email telling me if this helped and where it can improve. I have plans to add other sections, tell me if there's something you would like to see.</p>

</div>

{% include "templates/_footer.njk" %}